@import 'tailwindcss';

@theme {
  --color-primary: #10b981;
  --color-secondary: #84cc16;
  --color-background: #f8fafc;
  --color-surface: #ffffff;
  --color-text: #0f172a;
  --color-text-light: #475569;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
